<div ng-controller="galleryCtrl">
  <div class="container text-center" style="background:#888">
    <h2 style="color:#ccc">You can contact me here</h2>
    <div class="cform">
					<form method='post', action='/contact/send' class='clearfix' style="background-color:rgba(255,255,255,0.6);max-width:400px;padding:20px;text-align:center;margin:5% auto;font-family:serif;border-radius:10px;">
						<h1 style="color:black;font-family:serif;">Send Me A Message!</h1>
						<!-- <input id="from" type="text" placeholder="Enter E-mail ID where you want to send" /><br><br> -->
						<div class="form-group">
						  <label for="name"></label>
              <input type="text" name="name" placeholder="Enter Name">
						</div>
            <div class="form-group">
						  <label for="email"></label>
              <input type="email" name="email" placeholder="Enter Email">
						</div>
            <div class="form-group">
						  <label for="name"></label>
              <textarea name="message"  placeholder="Enter Message"></textarea>
						</div>

						<button class="button"id="send_email" type="submit" style="color:black">Send Message</button><hr>

						<span id="message"></span>
					</form>
				</div>


  <!-- EMAIL SCRIPT -->

</div>
</div>
