<div ng-controller="galleryCtrl">
  <div class="container text-center">
    <!-- <div class="cform">
					<form method='post', action='/contact/send' class='clearfix' style="background-color:rgba(255,255,255,0.6);max-width:400px;padding:20px;text-align:center;margin:5% auto;font-family:serif;border-radius:10px;">

					</form>
				</div> -->
        <!-- <h1 style="color:#fff;font-family:serif;">Send Me A Message here at</h1> -->
        <div class="par">
          <a href="mailto:dojadeveloper@gmail.com"><p id="contactLink">
            Please Click Here To Contact Me
          </p></a>
        </div>

</div>
</div>
