<div ng-controller="galleryCtrl">
  <div class="container text-center main">
    <h1 class="homeText"style="font-size:50px">Welcome to LisanaPhoto</h1>
    <span class="homeText par" ui-sref="Gallery"><a href="#"><h3>Digital Portfolio</h3></a></span>
      <img class="color" src="images/cam2.png" width="300"alt="" id="logoImg">

  </div>

</div>
<!-- <div class="" ng-repeat="o in owner">
  <h3 style="color:#fff;">{{o.authDetail}}Test</h3>
</div> -->
<div id="demo" class="collapse text-center">
  <div id="wrap">
    <h4>Step 1: Select a photo category</h4>
    Family:
    <input class="check"type="checkbox" name="name" id="famCk">
    Urban:
    <input class="check"type="checkbox" name="name" id="urbCk">
    Travel:
    <input class="check"type="checkbox" name="name" id="travCk">
    <br><br>
    <h4>Step 2: Select a photo</h4>
    <input style="display:inline-block"type="file" ><br>
    <h4 id="step2">Step 3: Upload to collection</h4>
    <button type="button"  class="btn btn-primary"name="button" id="upBtn" ng-click="previewFile()">Upload Image</button>
    <br><br>
    <img src="" height="200" alt="Image preview..." ng-model="img"style="">
  </div>
</div>
