<div ng-controller="galleryCtrl">
	<div class="container" id="box">
		<br><br><br>
		<button type="button" class="click" name="button"><span style="color: #000">Click</span></button>

		<div id="wrap">
			<h4>Step 1: Select a photo category</h4>
			Family:
			<input class="check"type="checkbox" name="name" id="famCk">
			Urban:
			<input class="check"type="checkbox" name="name" id="urbCk">
			Travel:
			<input class="check"type="checkbox" name="name" id="travCk">
			<br><br>
			<h4>Step 2: Select a photo</h4>
			<input type="file" ><br>
			<h4 id="step2">Step 3: Upload to collection</h4>
			<button type="button" name="button" id="upBtn" ng-click="previewFile()">Upload Image</button>
			<br><br>
			<img src="" height="200" alt="Image preview..." ng-model="img"style="">
		</div>

			<br><br>
			<!-- <button type="button" class="click" name="button"><span style="color: #000">Click</span></button> -->
	</div>
  <div class="container-fluid">
		<div class="row">
      <div class="col-md-12">
        <div class="btnshell">

          <ul  class="t2" style=""ng-repeat="image in photos">
						
            <li class="dBtn">
              <a type="button" class='' name="button" onclick="removeImg()" ng-click="photos.$remove(image)"><p>Remove</p> <img class="btnPic"src="{{image.imageURL}}" height='60' alt="" /></a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
