<div ng-controller="galleryCtrl" class="container-fluid">
  <h1 class="text-center galleryTitle ab">Urban Gallery</h1>
  <div class="container-fluid">
    <div class="row topRow">
      <div class="col-md-6">
        <!--  -->
        <div id="loader" style="margin-top:5px;">

        </div>
        <div class="controls text-center">
          <a class="arrow prev" href="" ng-click="showUPrev()"><i class="fa fa-angle-left" style="font-size:70px"></i></a>
          <a class="arrow next" href="" ng-click="showUNext()"><i class="fa fa-angle-right" style="font-size:70px"></i></a>
        </div>
        <div class=" text-center">
          <!-- enumerate all photos -->
          <img style='max-width:100%;' ng-repeat="photo in urbPhotos" class="imG" ng-swipe-right="showUPrev()" ng-swipe-left="showUNext()" ng-show="isActive($index)" src="{{photo.imageURL}}" />
        </div>
      </div>
      <div class="col-md-6 row3">
        <div class="parent-wrapper">
          <ul class="flex-container wrap">
            <li ng-repeat="image in urbPhotos" class="flex-item">
              <div class="fill" style="width:100px; height:100px">
                <!-- <a ng-href="" ng-click="showPhoto($index)"> -->
                  <img class="im" ng-click="showPhoto($index)" ng-src="{{IMAGE_LOCATION+image.imageURL}}"/>
                <!-- </a> -->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="btnshell">

          <ul  class="t2" style=""ng-repeat="image in urbPhotos">
            <li class="dBtn">
              <a type="button" class='' name="button" onclick="removeImg()" ng-click="urbPhotos.$remove(image)"><p>Remove</p> <img class="btnPic"src="{{image.imageURL}}" height='60' alt="" /></a>
            </li>
          </ul>

        </div>
      </div>
    </div> -->
  </div>

</div> <!-- End controller -->
