<div ng-controller="galleryCtrl" class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <!-- slider container -->
      <!-- prev / next controls -->
      <div class="controls">
        <a class="arrow prev" href="" ng-click="showUPrev()">Prev</a>
        <a class="arrow next" href="" ng-click="showUNext()">Next</a>
      </div>
      <div class="container slider">
        <!-- enumerate all photos -->
        <img style='max-width:100%;height:auto;' ng-repeat="photo in urbPhotos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" src="{{photo.imageURL}}" />
      </div>


    </div>
    <div class="col-md-12 row3" style="overflow:scroll; height:300px;max-width:700px margin:auto">
      <div class="">
        <div class=""style="margin:5px auto;">
          <ul class="text-center flex-container">
            <li ng-repeat="image in urbPhotos" class="flex-item">
              <div class="thumbwrapper" style="margin: 5px auto;">
                <a ng-href="" ng-click="showUPhoto($index)">
                  <img class="thumb" ng-src="{{IMAGE_LOCATION+image.imageURL}}" />
                </a>

              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="btnshell">
        <ul  class="t2 flex-container">
        <li class="dBtn flex-item" ng-repeat="image in urbPhotos">
          <button type="button" class='delBtn' name="button" onclick="removeImg()" ng-click="urbPhotos.$remove(image)">Remove <img class="btnPic"src="{{image.imageURL}}" height='60' alt="" /></button>
        </li>
      </ul>
      </div>
    </div>
  </div>


  <p class="text-center" style="color:#777;">
    Developed by Dev Doja <a style="color:#777;" id="click" data-toggle="collapse" data-target="#demo"><i class="fa fa-copyright" aria-hidden="true"></i></a> 2017
  </p>
</div>
