.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
}

.flex-container {
  padding: 0;
  margin: 0 auto;
  max-width:600px;
  height: 145px;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  background: #333;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.card-holder {
  
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  margin: 0 auto;
  max-width: 900px;
  padding: 20px;
  padding-bottom: 50px;
}
.card img {
  border: #000 solid 2px;
  border-radius: 5px;
}
.slide {
  max-height: 700px;
  max-width: 700px;
  z-index: 99;
}

.t2 {
  display: inline-block;
  width:80px;
}

.controls, .slider {
  margin: auto;
  text-align: center;
}
.controls {
  padding-top: 5em;
  padding-bottom: 3em;
}
.controls a {
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}

.parent-wrapper{
  margin-top:3em;
}

.galleryTitle {
  margin-top: .25em;
}

.topRow {
  margin-top: -50px;
}

li {
  list-style:none;
  display:inline-block;
}

ul{
  text-align: center;
    padding:0;
    margin:0;
    white-space:nowrap;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.im {
  height: 20%;
}

.imG {
  max-height: 600px;
  height: auto;
}

.btnPic {
  padding: 5px 5px 10px 5px;
}

.row3 {
    margin: 10em auto 3em;
    max-width:700px;
    overflow:scroll;
    height:675px;
    overflow-x: hidden;
    border: 1px solid silver;
}

@media (max-width:992px){
  .row3 {
    margin: 4em auto 3em;
    height: 350px;
  }
}
