.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
}

.flex-container {
  padding: 0;
  margin: 0 auto;
  max-width:600px;
  height: 145px;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  background: #333;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.slide {
  max-height: 700px;
  max-width: 700px;
  z-index: 99;
}

.t2 {
  display: inline-block;
  width:80px;
}

.controls, .slider {
  margin: auto;
  text-align: center;
}
.controls {
  padding-top: 5em;
  padding-bottom: 3em;
}
.controls a {
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  /*display: inline-block;*/
  /*margin-top: 100px;*/
}
.parent-wrapper{
  margin-top:3em;
}

.galleryTitle {
  margin-top: 3em;
}

.topRow{
  margin-top: -50px;
}

/*.mySlides {
  height: 500px;
  margin: auto;
}
.wrapper .list {
  list-style: none;
  height: 480px;
  margin-left: 5.6rem;
  overflow-y: auto;
}
.wrapper img {
  width: 140px;
  margin-bottom: 1rem;
  cursor: pointer;
  display: block;
  border: 2px solid #fff;
}
.wrapper img:hover {
  box-shadow: 0px 1px 4px #444;
  transition: all .2s ease-in-out;
  border-color: #fff;
}
.wrapper img:active {
  opacity: .74;
  box-shadow: 0px 1px 8px #666;
}*/


 li {
    list-style:none;
    display:inline-block;
}

ul{
  text-align: center;
    padding:0;
    margin:0;
    white-space:nowrap;
}

/*.thumb {
  margin: 3px auto 25px;
  max-width: 85px;
  max-height: 85px;
  border: 2px #fff solid;
  object-fit: cover;
}*/
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.im {
  height: 20%;
}


.imG {
  max-height: 600px;
  height: auto;
}

.btnPic {
  padding: 5px 5px 10px 5px;
}
.row3 {
    margin: 10em auto 3em;
    max-width:700px;
    overflow:scroll;
    height:675px;
    overflow-x: hidden;
    border: 1px solid silver;
}
@media (max-width:992px){
  .row3 {
    margin: 4em auto 3em;
    height: 350px;
  }
}
